body {
  /* background-color: rgba(245, 240, 240, 0.027); */
  background-image: url("back1.jpeg");
  height: 1200px; /* You must set a specified height */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.mb-3 {
  padding-left: 30px;
}

.home {       
  max-width: 500px;
  padding-top: 15em;
  margin: auto;
  font-weight: 1000;
  font-family: Arial, Helvetica, sans-serif;
}

.box {
  background-color: rgb(255, 255, 255);
  width: 530px;
  height: 530px;
  padding-left: 16px;
  border-radius: 20px;
  position: absolute;
  top: 50px;
}

.login {
  padding-left: 180px;
  font-size: 45px;
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.form-label {
  padding-top: 2px;
}

.form1 {
  border-radius: 20px;
  padding-left:35px;
  width: 400px;
  height: 70px;
}

.username {
  background: url(person-fill.svg) no-repeat 10px;
}

.password {
  background: url(lock-icon.png) no-repeat 10px;
}

.btn-primary {
  width: 150px;
  margin: 20px 0 0 180px;
}


.register {
  max-width: 500px;
  padding-top: 12em; 
  margin: auto;
  font-weight: 1000;
  font-family: Arial, Helvetica, sans-serif;
}


.image {
  background: url(card-image.svg) no-repeat 10px;
}


.boxRegister {
  background-color: rgb(255, 255, 255);
  width: 530px;
  height: 880px;
  padding-left: 16px;
  border-radius: 20px;
  position: absolute;
  top: 50px;
}








.app {
  position: relative;
  overflow: hidden;
  top: 19px;
  height: 900px;
  width: 1300px;
  margin: auto;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
}


.chatDetails {
  background-color: rgb(255, 255, 255);
  width: 460px;
  height: 900px;
  padding-left: 16px;
  position: fixed;
}

.searchBox-inner {
  padding: 10px;
  background-color: #f6f6f6;
}

.circleProfile {
  position: absolute;
  top: 10px;
  left: 20px;
  height: 40px;
  width: 40px;
}

img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
 }

.btn-outline-secondary {
  height: 25px;
  border-radius: 25px;
  display: flex;
  align-items:center;
  font-size: 15px;
}

.MyName {
  padding-left: 60px;
  padding-top: 20px;
  font-weight: 700;
  font-size: 100%;
}

.addChat {
  position:relative;
  left: 330px;
  top: -20px;
}


.sideBar-body {
  padding: 10px !important;
  height: 75px;
  margin: 0 !important;
}

.avatar-icon img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: relative;
  right: 10px;
}

.sideBar-name {
  position: relative;
  bottom: 35px;
  left: 50px;
}

.time-meta {
  position: relative;
  left: 350px;
  font-size: 12px;
  padding: 0;
  position: relative;
  bottom: 50px;
  color: rgba(0, 0, 0, .4);
}
