body {
  /* background-color: rgba(245, 240, 240, 0.027); */
  background-image: url("back1.jpeg");
  overflow: auto;
  height: 1000px; 
  background-size: cover; /* Resize the background image to cover the entire container */
}

.mb-3 {
  padding-left: 30px;
}

.home {       
  max-width: 500px;
  padding-top: 15em;
  margin: auto;
  font-weight: 1000;
  font-family: Arial, Helvetica, sans-serif;
}

.box {
  background-color: rgb(255, 255, 255);
  width: 530px;
  height: 530px;
  padding-left: 16px;
  border-radius: 20px;
  position: absolute;
  top: 50px;
}

.login {
  padding-left: 180px;
  font-size: 45px;
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.form-label {
  padding-top: 2px;
}

.form1 {
  border-radius: 20px;
  padding-left:35px;
  width: 400px;
  height: 70px;
}

.username {
  background: url(person-fill.svg) no-repeat 10px;
}

.password {
  background: url(lock-icon.png) no-repeat 10px;
}

.btn-primary {
  width: 150px;
  margin: 20px 0 0 180px;
}


.register {
  max-width: 500px;
  padding-top: 12em; 
  margin: auto;
  font-weight: 1000;
  font-family: Arial, Helvetica, sans-serif;
}


.image {
  background: url(card-image.svg) no-repeat 10px;
}


.boxRegister {
  background-color: rgb(255, 255, 255);
  width: 530px;
  height: 880px;
  padding-left: 16px;
  border-radius: 20px;
  position: absolute;
  top: 50px;
}








.app {
  display: grid;
  grid-gap: 20px;
  position: fixed;
  overflow: hidden;
  left: 3.5%;
  height: 100%;
  width: 93%;
  margin: auto;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
}


.chatDetails {
  overflow: auto;
  overflow-x: hidden;
  background-color: rgb(255, 255, 255);
  width: 29.4%;
  height: 100%;
  padding-left: 1.0%;
  position: fixed;
  border-radius: 5px;
  border-right: 1px solid rgba(0, 0, 0, .1);
}

.heading {
  position: relative;
  right: 16px;
  width: 450px;
  background-color: rgba(196, 199, 198, 0.463);
}

.searchBox-inner {
  position: relative;
  display: flex;
  right: 3.5%;
  width: 104%;
  padding: 10px;
  background-color: #f6f6f6;
}

.circleProfile {
  position: absolute;
  top: 10px;
  left: 8px;
  height: 40px;
  width: 40px;
}

img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
 }

.btn-outline-secondary {
  height: 25px;
  border-radius: 25px;
  display: flex;
  align-items:center;
  font-size: 15px;
}

.MyName {
  padding-left: 60px;
  padding-top: 20px;
  font-weight: 700;
  font-size: 100%;
}

.addChat {
  position:relative;
  left: 335px;
  top: -25px;
}

.sideBar {
  position: relative;
  right: 3.5%;
  width: 104%;
}

.sideBar-body {
  padding: 10px !important;
  height: 10vh;
  margin: 0 !important;
}

.avatar-icon img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: relative;
  right: 10px;
}

.sideBar-name {
  position: relative;
  bottom: 35px;
  left: 50px;
}

.time-meta {
  position: relative;
  left: 360px;
  font-size: 12px;
  padding: 0;
  position: relative;
  bottom: 50px;
  color: rgba(0, 0, 0, .4);
}

.right-chat{
  display: flex;
  width: 50%
}

.headingChat {
  position: relative;
  display: flex;
  left: 450px;
  height: 69px;
  width: 100%;
  background-color: rgba(196, 199, 198, 0.463);

}

.chatName {
  position: relative;
  left: 80px;
  top: 15px;
  font-size: 100%;
  font-weight: bolder;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000;
}

.chatPhoto {
  position: absolute;
  top: 10px;
  left: 8px;
  height: 50px;
  width: 50px;
}

.heading-online {
  position: relative;
  top: 40px;
  left: 25px;
  font-size: 90%;
  height: 50px;
  width: 50px;
  color: rgba(0, 0, 0, .4);
}



.reply {
  position: relative;
  top: 20px;
}



.chat-box{
  position: relative;
  bottom: -92vh;
  right: 27.7vw;
  width: 80vw;
}

.toSend {
  display: flex;
  position: relative;
  width: 100%;
  padding: 10px;
  padding-left: 130px;
  padding-right: 60px;
  background-color: #f6f6f6;
  text-align: center;
  font-size: 20px;
}

.textBox {
  border-radius: 50px;
}

.photo {
  position: relative;
  bottom: 40px;
  left: 20px;
  cursor: pointer;
}

.video {
  position: relative;
  bottom: 40px;
  left: 60px;
  cursor: pointer;
}

.record {
  position: relative;
  bottom: 45px;
  left: 790px;
  cursor: pointer;
}